<!-- vim:set ts=2 sw=2 et: -->

<script setup>
const data = await getCMS("podcast");
useContentHead(data);

// show the newest podcasts at the top of the page
let podcasts = data._value.links;
podcasts.reverse();

const date_format = {
  month: "long",
  day: "numeric",
  year: "numeric",
};

// communication channels
const comm_channels = data._value.sections[0];
</script>

<template>
  <div class="bg-fp-gray-lightest px-8 pt-8 dark:bg-neutral-900">
    <div class="mx-auto max-w-screen-xl">
      <div class="mb-8 text-center xl:text-start">
        <h2 class="xl:text-4xl">
          {{ $t("Podcasts") }}
        </h2>
      </div>
      <ul>
        <li v-for="p in podcasts" class="mb-4">
          <a
            :href="p.url"
            class="text-2xl font-semibold leading-none text-fp-blue"
          >
            {{
              `${p.text} (${new Date(
                parseInt(p.publication_date)
              ).toLocaleDateString("en-US", date_format)})`
            }}
          </a>
        </li>
      </ul>
    </div>
    <FpCommunicationSection
      color="magenta"
      :sectionTitle="comm_channels.sectionTitle"
      :content="comm_channels.content"
    />
  </div>
</template>
